{% extends 'admindashboard.html' %}

{% block title %}
Admin - Branch & Division Management
{% endblock %}

{% block content_2 %}
<div class="container">
    <div class="row">
        <!-- Form Column -->
        <div class="col-md-6">
            <form method="POST" class="form-group card my-5 p-4">
                {{ form.hidden_tag() }}
                <h1 class="text-center p-4">Branch & Division</h1>
                <br>
                {{ form.choose.label(class="form-label") }}
                {{ form.choose(class="form-control") }}
                <br>
                {{ form.branch.label(class="form-label") }}
                {{ form.branch(class="form-control", placeholder="Branch Name") }}
                <br>
                {{ form.division.label(class="form-label") }}
                {{ form.division(class="form-control", placeholder="Number of Divisions") }}
                <br>
                {{ form.submit(class="form-control btn btn-primary btn-lg form-label") }}
            </form>
        </div>

        <!-- Branch List Column -->
        <div class="col-md-6">
            <div class="card my-5">
                <div class="card-header">
                    <h3 class="text-center">Current Branches</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Branch</th>
                                <th>Divisions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for branch in branches %}
                            <tr>
                                <td>{{ branch.branch }}</td>
                                <td>{{ branch.division }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}