{% extends "main.html" %}

{% block link %}
    <link rel="stylesheet" href="static/dashboard.css">
{% endblock %}

{% block content %}
    <div class="container-fluid border border-primary border-5 vh-100 row">
        <!-- left-side -->
        <div class="col-2 border border-5">
            {% block content_1 %}
                
            {% endblock %}
        </div>

        <!-- right-side -->
        <div class="col border border-5">
            {% block content_2 %}
                
            {% endblock %}
        </div>
    </div>
{% endblock %}
