{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}



{% block content %}
<form method="POST" class="container form-group card my-5 col-md-6">
    {{ form.hidden_tag() }}
    <h1 class="text-center p-4">Register</h1>
    <br>
    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control ", placeholder="User name", id="username") }}
    <br>
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control ", placeholder="Email",id='email') }}
    <br>
    {{ form.password1.label(class="form-label") }}
    {{ form.password1(class="form-control", placeholder="Password") }}
    <br>
    {{ form.password2.label(class="form-label") }}
    {{ form.password2(class="form-control", placeholder="Confirm Password") }}
    <br>
    {{ form.submit(class="form-control btn btn-primary btn-lg form-label") }}
    <br>
</form>

{% endblock %}


{% block Script %}
<!-- <script>
    window.onload = function () {
        document.getElementById("username").onclick = function () {
            var selectedValue = document.getElementById("username").value;
            if (selectedValue === '3') {
                document.getElementById("email").style.display = 'none';
            } else {
                document.getElementById("email").style.display = 'visible';
            }
        };
    }
</script>  -->
{% endblock %}