{% extends 'dashboard.html' %}

{% block title %}
task information form
{% endblock %}


{% block content_1 %}
<div class="col">
  <a href="{{ url_for('student_dashboard_page') }}">Dashboard</a>
  <br>
  <a href="{{ url_for('view_task_page') }}">View Task</a>
  <br>
  <a href="{{ url_for('task_page') }}">Add Task</a>
  <br>
  <a href="{{ url_for('remove_task_page') }}">Remove Task</a>
  <br>
  <a href="{{ url_for('chat_page') }}">AI Chat</a>
  <br>
  <a href="#">Profile</a>
</div>
{% endblock %}



{% block content_2 %}
<form method="POST" class="container form-group card my-5 col-md-6">
  {{ task.hidden_tag() }}
  <h1 class="text-center p-4">View information</h1>
  <br>
  {{ task.date.label(class="form-label") }}
  {{ task.date(class="form-control", placeholder="date") }}
  <br>
  {{ task.submit(class="form-control btn btn-primary btn-lg form-label") }}
  <ul>
    {% for tas in tasks %}
    <li>{{ tas.description }} - due {{ tas.event_date.strftime('%d-%m-%Y') }}</li>
    {% else %}
    <li>No tasks found.</li>
    {% endfor %}
  </ul>
</form>
{% endblock %}